# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Flask instance
instance/

# Environment variables
.env

# Uploads / user files
uploads/
*.pdf
*.docx

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
